<div class="card">
    <div class="card-body">
        <h4 class="card-title">Relación de Ventas</h4>
        <h5 class="card-subtitle text-muted">Informe de Ventas Anuales</h5>
        <div class="p-3" style="background-color: #F18222; border-radius: 30px;">
            <div class="row">
                <div class="col-md-4">
                    <h6 class="text-white">Ventas Totales</h6>
                    <h3 class="text-white mb-0">$10,345</h3>
                </div>
                <div class="col-md-4">
                    <h6 class="text-white">Este Mes</h6>
                    <h3 class="text-white mb-0">$7,545</h3>
                </div>
                <div class="col-md-4">
                    <h6 class="text-white">Esta Semana</h6>
                    <h3 class="text-white mb-0">$1,345</h3>
                </div>
            </div>

        </div>
        <div class="row mt-3">
            <!-- column -->
            <div class="col-lg-12">
                <div>
                    <div class="d-flex flex-column w-100">
                        <apx-chart [series]="salesChartOptions.series" [chart]="salesChartOptions.chart"
                            [plotOptions]="salesChartOptions.plotOptions" [xaxis]="salesChartOptions.xaxis"
                            [yaxis]="salesChartOptions.yaxis" [grid]="salesChartOptions.grid"
                            [stroke]="salesChartOptions.stroke" [tooltip]="salesChartOptions.tooltip"
                            [dataLabels]="salesChartOptions.dataLabels" [legend]="salesChartOptions.legend"
                            [colors]="salesChartOptions.colors" [markers]="salesChartOptions.markers">
                        </apx-chart>
                    </div>
                </div>
            </div>
            <!-- column -->
        </div>
    </div>
</div>